/*

get data from a particular location -- temperature(min,max and feels like), air quality index and other gases data, wind speed and direction, max wind gusts, humidity, dew points, pressure, cloud cover, visibility, sun rise and sun set, moon rise and moon set
live forecast, day forecast, weekly forecast, monthly forecast
monthly data -- graph and callendar
charts - -chance of precipitation, wind, humidity, uv, dew points, temperature
maps -- temperature, clouds, ...

*/

body{
    overflow-x: hidden;
}

.unit-button{
    width: 50%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0 20px 0;
}

.weather-app{
    padding: 20px;
}

.offcanvas-div{
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
}

input{
    padding: 10px;
    border: none;
    border-radius: 8px;
}

.open-button{
    width: 100px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.close-button{
    width: 210px;
    border: none;
    border-radius: 8px;
    margin: 20px 20px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.offcanvas-menu{
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.offcanvas-menu.open{
    transform: translateX(0);
}

ul{
    list-style: none;
    padding: 20px;
}

.current{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.div1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 16px;
    width: 60vw;
}

.div23{
    display: flex;
    gap: 20px;
}

.div2{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 16px;
    width: 20vw;
}

.div3{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: none;
    border-radius: 16px;
    width: 20vw;
}

@media (max-width: 1024px){
    .current{
        flex-direction: column;
    }

    .div1{
        width: calc(100vw - 81px);
    }

    .div2{
        width: calc(100vw - 81px);
    }

    .div3{
        width: calc(100vw - 81px);
    }
}

@media (max-width: 700px){
    .div23{
        flex-direction: column;
    }
}