/*

get data from a particular location -- temperature(min,max and feels like), air quality index and other gases data, wind speed and direction, max wind gusts, humidity, dew points, pressure, cloud cover, visibility, sun rise and sun set, moon rise and moon set
live forecast, day forecast, weekly forecast, monthly forecast
monthly data -- graph and callendar
charts - -chance of precipitation, wind, humidity, uv, dew points, temperature
maps -- temperature, clouds, ...

*/

body{
    overflow-x: hidden;
}

.topbar{
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.day-forecast{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #E7F6F2;
    color: #E7F6F2;
}

.hour-forecast{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #E7F6F2;
    color: #E7F6F2;
}

input{
    padding: 10px;
    background: #395B64;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
}

input::placeholder{
    color: #A5C9CA;
}

.open-button{
    width: 100px;
    padding: 10px;
    background: #395B64;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.more-button{
    width: 100px;
    padding: 10px;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: #2C3333;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 25px #2C3333;
    transition: transform 0.5s ease-in-out;
}

.less-button{
    width: 100px;
    padding: 10px;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: #2C3333;
    text-decoration: none;
    text-align: center;
}

.more-button{
    box-shadow: 0px 0px 25px #2C3333;
    transition: transform 0.5s ease-in-out;
}

.more-button:hover {
    box-shadow: 0px 0px 35px #2C3333;
    transform: scale(1.2);
}

.close-button{
    width: 210px;
    margin: 20px 20px 0;
    padding: 10px;
    background: #395B64;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.unit-button{
    width: 40%;
    margin: 10px;
    padding: 10px;
    background: #395B64;
    color: #E7F6F2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.unit-button.selected{
    background: #2C3333;
    color: #E7F6F2;
    cursor: auto;
}

.offcanvas-menu{
    width: 250px;
    top: 0;
    right: 0;
    background: #E7F6F2;
    color: #2C3333;
    position: absolute;
    transform: translateY(-100%);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.offcanvas-menu.open{
    transform: translateX(0);
}

ul{
    padding: 20px;
    list-style: none;
}

.weather-app{
    padding: 20px;
    background: #E7F6F2;
    color: #E7F6F2;
}

h1, h3{
    color: #2C3333;
}


.current-weather{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.current1{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 20px;
    background: #395B64;
    border: none;
    border-radius: 16px;
}

.current11{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.current111{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.current-condition{
    margin: 0;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: bold;
}

.current-temp{
    margin: 0;
    font-size: 42px;
    font-weight: bolder;
}

.normal-text{
    font-size: 18px;
    font-weight: bold;
}

img{
    width: 140px;
    height: 140px;
}

.current2{
    display: flex;
    gap: 20px;
}

.current21{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px;
    background: #395B64;
    border: none;
    border-radius: 16px;
}

.current22{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px;
    background: #395B64;
    border: none;
    border-radius: 16px;
}

.day{
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.hour{
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.one-day{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: 20px;
    gap: 10px;
    background: #395B64;
    border: none;
    border-radius: 16px;    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.day-div{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.one-hour{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    padding: 20px;
    gap: 10px;
    background: #395B64;
    border: none;
    border-radius: 16px;
}

.normal-div{
    display: flex;
    flex-direction: column;
    background: #395B64;
    color: #E7F6F2;
    padding: 20px;
    border-radius: 16px;
}

.full-div{
    display: flex;
    gap: 20px;
}

.half-div{
    display: flex;
    flex-direction: column;
    background: #395B64;
    width: 50vw;
    padding: 20px;
    border-radius: 16px;
}

@media (max-width: 1024px){
    .current-weather{
        flex-direction: column;
    }

    .current1, .current21, .current22{
        width: calc(100vw - 81px);
    }
}

@media (max-width: 700px){

    .current2, .full-div{
        flex-direction: column;
    }

    .one-day{
        min-width: 300px;
    }

    .one-hour{
        min-width: 300px;
    }

    .half-div{
        width: calc(100vw - 81px);
    }
}